:root {                                
    --pink: #ff2a6d;
    --lblue: #d1f7ff;
    --blue: #05d9e8;
    --dblue: #005678;
    --ddblue: #01012b;
}

#daddy {
    margin-top: 100px;
}

body {
    background-image: linear-gradient(to bottom, var(--ddblue), var(--dblue), var(--blue), var(--lblue));
    min-height: 100vh;
} */

 .jumbotron {
    background-color: var(--ddblue);
    color: var(--lblue);
} */

ul {
    background-color: var(--lblue);
    color: var(--ddblue);
}

li.list-group-item {
    background-color: var(--lblue);
}

div.card {
    -webkit-box-shadow: 4px 4px 9px 3px rgba(255, 42, 141, 0.9); 
    box-shadow: 4px 4px 9px 3px rgba(255, 64, 175, 0.87);
    background-color: var(--ddblue);
    color: var(--lblue);
    font: bold;
    margin-bottom: 15px;

}

footer {
    min-height:200px;
} 